<p>{{clientObj | json}}</p>
<ul>
    @for (item of userList$ |async; track $index) {
        <li>{{item.name}}</li>
    }
</ul>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List - {{currentDate | date:'dd-MMM-yyyy'}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact Number</th>
                                    <th>City</th>
                                    <th>Action</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @for (client of clientList; track $index; let idx = $index;) {
                                    <tr>
                                        <td>{{idx+1}}</td>
                                        <td>{{client.companyName | uppercase}}</td>
                                        <td>{{client.contactPersonName}}</td>
                                        <td>{{client.contactNo}}</td>
                                        <td>{{client.city}}</td>
                                        <td>
                                            <button class="btn btn-primary m-sm-2" (click)="EditClient(client)">Edit</button>
                                            <button class="btn btn-danger" (click)="DeleteClient(client.clientId)">Delete</button>
                                        </td>                                        
                                    </tr>
                                }  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form #ClientForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Person Name</label>
                            <input type="text" #personname="ngModel" name="contactPersonName" minlength="5" required [(ngModel)]="clientObj.contactPersonName" class="form-control">
                            @if(personname.invalid && personname.touched)
                            {
                                <div class="text-danger">
                                    @if(personname.errors?.['required'])
                                    {
                                    <span>Person Name is Required.</span>
                                    }   
                                    @if(personname.errors?.['minlength'])
                                    {
                                    <span>Minimum 5 characters are Required.</span>
                                    }                            
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Company Name</label>
                            <input type="text" name="companyName" [(ngModel)]="clientObj.companyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Number</label>
                            <input type="text" name="contactNo" [(ngModel)]="clientObj.contactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" name="city" [(ngModel)]="clientObj.city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="text"  name="pincode" [(ngModel)]="clientObj.pincode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" name="state" [(ngModel)]="clientObj.state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea name="" name="address" [(ngModel)]="clientObj.address" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Employee Strength</label>
                            <input type="number" name="employeeStrength" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">GST No</label>
                            <input type="text" name="gstNo" [(ngModel)]="clientObj.gstNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Reg. No</label>
                            <input type="text" name="regNo" [(ngModel)]="clientObj.regNo" class="form-control">
                        </div>                    
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="ClientForm.invalid" (click)="onSaveClient()">{{(clientObj.clientId != 0) ? 'Update Client' : 'Save CLient'}}</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>